<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.vucko.calendarapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alarm.AlarmActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".alarm.preferences.AlarmPreferencesActivity"
            android:label="@string/title_activity_set_alarms">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.vucko.calendarapp.alarm.AlarmActivity" />
        </activity>

        <service
            android:name=".alarm.service.AlarmService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:process="za.co.neilson.alarm.serviceProcess" />

        <receiver android:name=".alarm.service.AlarmServiceBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alarm.alert.AlarmAlertActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <receiver android:name=".alarm.alert.AlarmAlertBroadcastReciever" />
        <receiver android:name=".alarm.telephony.PhoneStateChangedBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailedDayActivity"
            android:label="@string/title_activity_detailed_day"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SyncCalendarsActivity"
            android:label="@string/title_activity_sync_calendars"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".notifications.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
